<!doctype html>
<html>

<head>
    <title>
        <%=shopData.shopName%>: Books less than £20
    </title>
    <link rel="stylesheet" type="text/css" href="/main.css" />
</head>

<body>
    <h1>
        <%=shopData.shopName%>: Books less than £20
    </h1>
    <ul>
        <% availableBooks.forEach(function(book) { %>
            <li>
                <%= book.name %> - £<%= book.price %>
            </li>
            <% }) %>
    </ul>
</body>

</html>